@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left-side {
    flex: 1;
    display: flex;
    background: #C80036;
    justify-content: center;
    align-items: center;
}

.right-side img {
    width: 70%;
}

.right-side {
    flex: 1;
    display: flex;
    background: #0C1844;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 420px;
    background: white;
    color: #0C1844;
    border-radius: 30px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: #0C1844;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #0C1844;
    border-radius: 40px;
    font-size: 16px;
    color: #0C1844;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #0C1844;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #0C1844;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color: #0C1844;
}

.remember-forgot label input {
    accent-color: #0C1844;
    text-decoration: none;
}

.remember-forgot a:visited {
    text-decoration: none;
    color: #C80036;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #0C1844;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.wrapper .login-register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
    color: #0C1844;
}

.login-register-link p a {
    color:#C80036;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:visited {
    text-decoration: none;
}

.register-link p a:hover {
    text-decoration: underline;
}
