.nav-item .dropdown-menu {
    background-color: white; /* Change this to your desired background color */
    color: white; /* Change text color to white */
}

.nav-item .dropdown-menu .dropdown-header {
    color: rgb(2, 2, 2); /* Change text color to white */
    font-weight: bold;
}

.nav-item .dropdown-menu a {
    color: rgb(0, 0, 0); /* Change text color to white */
   
}

.nav-item .dropdown-menu a:hover {
    background-color: #ad1112 !important; /* Change hover background color */
    color: rgb(255, 255, 255) !important; /* Change text color to white */
}

.nav-item .dropdown-divider {
    border-top: 1px solid rgb(0, 0, 0); /* Change divider color to white */
}

.nav-item .dropdown-menu a i {
    color: rgb(0, 0, 0); /* Change icon color to white */
}

.nav-item .dropdown-menu a:hover i {
    color: white; /* Keep icon color white on hover */
}
