
.actions-cell {
    display: flex;
    justify-content: space-around;
  
  }
  
  .actions-cell button {
    margin: 0 5px;
  }
  

  .pdf-content .logo {
    max-width: 100px;
    margin-bottom: 20px;
  }