body {
    background-color: #f2f7fb !important;
    margin: 0;
    font-family: Arial, sans-serif;
}

.top-up-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
