.table-container {
    width: 100%;
    overflow-x: auto;
    padding: 0 20px; /* Ensure some padding to the sides */
  }
  
  .transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
  }
  
  .transactions-table th, .transactions-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  .transactions-table th {
    background-color: #f4f4f4;
  }
  
  .transactions-table td {
    background-color: #fff;
  }
  
  .transactions-table .btn {
    padding: 6px 12px;
    font-size: 14px;
  }
  
  .transactions-table .actions {
    display: flex;
    justify-content: space-around;
  }
  
  .transactions-table .btn-danger {
    margin-left: 10px;
  }
  